
h1 {
  color: navy;
  margin-left: 20px;
}
h2 {
  color: black;
  margin: 10px;
  clear: both;
}
p{
  margin: 10px;
  font-family: Teko;
  font-size: medium;
  color: black;
}

#normal{
  background-color: #C8A2C8;
  width: 50%;
  border: 1px solid black;
  margin-left: 25%;
  margin-right: 25%;
  height: 1000px;
}

body {
  background-color: lightcoral;
  background-image: url(ApexBack.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed
}

img.central{
  margin-left: 25%;
}

img.izquierda {
  float: left;
}

img.derecha {
  float: right;
}
  